{% block content %}

	<div class="hero">
		<h5>&mdash; CONTACT US</h5>
		<hr>
		<h2>Offices</h2>
		<div class="row">

			<div class="col-md-3">
				<p><span class="small"><p><strong>Johannesburg</strong></p><p>Ground Floor, Building 5</p><p>299 Pendoring Road</p><p>Blackheath, 2195</p><p>Tel: 011 431 0141</p><p>Fax: 086 527 8535</p></span>
			</div>
			<div class="col-md-3">
				<p><img src="holder.js/250x250?bg=2a2025&text=MAP"></p>
			</div>

			<div class="col-md-3">
				<p><span class="small"><p><strong>Cape Town</strong></p><p>A2, The Beachhead</p><p>10 Niblick Way</p><p>Somerset West, 7130</p><p>Tel: 021 852 9092</p><p>Fax: 086 540 7311</p></span>
			</div>
			<div class="col-md-3">
				<p><img src="holder.js/250x250?bg=2a2025&text=MAP"></p>
			</div>

		</div>
		<hr>
		<h2>Enquiries</h2>
		<div class="row">

			<div class="col-md-6">
				<p><span class="small"><p><strong>General</strong></p><p>info@grayswan.co.za</p><p><strong>Accounts</strong></p><p>accounts@grayswan.co.za</p></span>
			</div>
			<div class="col-md-6">
				<p><span class="small"><p><strong>Institutional &amp; Corporate</strong></p><p>Duncan - duncan@grayswan.co.za</p><p>David - david@grayswan.co.za</p><p><strong>Personal &amp; Family</strong></p><p>Gregoire - gregoire@grayswan.co.za</p><p>Tania - tania@grayswan.co.za</p></span>
			</div>

		</div>
	</div>
</div>


	<div class="container-fluid">
	<br>
		<div class="jumbotron">
			<!-- remove 
				<div role="tabpanel">
					<div class="col-md-5">
						{% for contact in model.contact %}
							<h2><a href="#{{ contact.link }}" role="tab" data-toggle="tab">{{ contact.title }}</a></h2>
						{% endfor %}
					<hr>
					</div>
					<div class="col-md-7">
						<div class="tab-content">
							{% for contact in model.contact %}					
								<div role="tabpanel" class="tab-pane {{ contact.active }}" id="{{ contact.link }}">
								<br><br>
									<strong><small>&mdash; {{ contact.title }}</small></strong>
									<p class="lead">{{ contact.quote }}</p>	
									{{ contact.content }}
									{{ contact.list }}
										{{ contact.items }}
									{{ contact.list }}
									{{ contact.post-content }}
									<a href="#">{{ contact.cta }}</a>
								</div>
							{% endfor %}
						</div>
					</div>
				</div> 		-->

	<h2>Send a Message</h2>
	<hr>

		<div class="row">
			<div class="col-md-6">
				<form class="form-inline">
					<div class="form-group">
						<p><label>Name</label></p>
					 	<textarea class="form-control" rows="1" style="margin: 0px; width: 436px; height: 35px;"></textarea>
						<br><br><br>				  
						<p><label>Preferred Method of Contact</label></p>
						<select class="form-control" style="margin: 0px; width: 436px;">
							<option>Email</option>
							<option>Mobile</option>
							<option>Telephone</option>
						</select>
					  	<br><br><br>
						<p><label>Email</label></p>
						<textarea class="form-control" rows="1" style="margin: 0px; width: 436px; height: 35px;"></textarea> 
						<br><br><br>
					</div>
					<div class="form-group">
						<label for="exampleInputName2">Phone</label>
						<input type="text" class="form-control" id="exampleInputName2" placeholder="012 345 6789">
					</div>
					<div class="form-group">
						<label for="exampleInputName2">Mobile</label>
						<input type="text" class="form-control" id="exampleInputName2" placeholder="081 345 6789">
					</div>
					<br><br><br>
				</form>
			</div>
			<div class="col-md-6">
				<form class="form-inline">
					<p><label>Query Type</label></p>
					<select class="form-control" style="margin: 0px; width: 436px;">
						<option>General Enquiries</option>
						<option>Institutional/Corporate Enquiries</option>
						<option>Personal / Family Office Enquiries</option>
					</select>
					<br><br><br>
					<p><label>Subject</label></p>
					<textarea class="form-control" rows="1" style="margin: 0px; width: 436px; height: 35px;"></textarea>
					<br><br><br>				 
					<p><label>Message</label></p>
					<p><textarea class="form-control" rows="3" style="margin: 0px; width: 436px; height: 98px;"></textarea></p>
					<br><br><br>
					<p><button type="submit" class="btn btn-default pull-right">Send Message</button></p>
				</form>
			</div>
		</div>
		
		</div><!--/.jumbotron-->
	</div><!--/.container-fluid-->

{% endblock %}

