{% block content %}
	<div class="hero">
		<h5>&mdash; INSTITUTIONAL INVESTORS</h5>
		<hr>
		<h2>Whether you are a Pension, Retirement, Umbrella, Insurance or Medical Aid Fund, we provide premium and tailor-made investment advisory services that meet your unique needs.<span class="small"><p>Our disciplined and proven investment advisory approach, which we have successfully developed over almost two decades, will ensure that you implement a robust investment strategy and that you meet your short, medium and long term performance objectives.</p><p><u>Contact us</u> to start investing today. Investment opportunities wait for no-one.</p></span></h2>
		<br><br>
		<a href="#" class="fa fa-2x fa-long-arrow-down"></a>
	</div>
</div>
<div class="container-fluid"> 
	<br>
	<div class="jumbotron">
		<div role="tabpanel">
			<div class="col-md-5">
				{% for institutional in model.institutionals %}
					<h2><a href="#{{ institutional.link }}" role="tab" data-toggle="tab">{{ institutional.title }}</a></h2>
				{% endfor %}
				<hr>
				<p><a class="btn btn-primary" href="#">Invest Now</i></a> <a class="btn btn-primary" href="#">Download Brochure </a></p>
				<hr>
			</div>
			<div class="col-md-7">
				<div class="tab-content">
					{% for institutional in model.institutionals %}
						<div role="tabpanel" class="tab-pane {{ institutional.active }}" id="{{ institutional.link }}">
							<br><br>
							<strong><small>&mdash; {{ institutional.title }}</small></strong>
							<p class="lead">{{ institutional.quote }}</p>	
							{{ institutional.content }}
							{{ institutional.list }}
								{{ institutional.items }}
							{{ institutional.list }}
							{{ institutional.post-content }}
							{{ institutional.list2 }}
								{{ institutional.items2 }}
							{{ institutional.list2close }}
							<a href="#">{{ institutional.cta }}</a>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	<div class="clearfix"></div>
	<br><br>
	</div><!--/.jumbotron-->
</div>

<div class="container">
	{% include "insights" %}
</div>

<div class="container">
	
	{% include "newsletter" %}

{% endblock %}