{% block content %}
	<div class="hero">
		<h5>&mdash; PERSONAL INVESTORS</h5>
		<hr>
		<h2>Giving someone the responsibility to manage, increase and maintain the wealth you created is one of the most important decisions you will ever make.<span class="small"><p>We assist you to experience financial freedom and ensure a comfortable retirement by providing tailor-made, transparent and cost effective solutions that suit your specific financial needs and risk appetite. We take the stress out of financial planning and investing.</p><p><u>Contact us</u> to start investing today. Investment opportunities wait for no-one.</p></span></h2>
		<br><br>
		<a href="#" class="fa fa-2x fa-long-arrow-down"></a>
	</div>
</div>
<div class="container-fluid">
	<br>
	<div class="jumbotron">
		<div role="tabpanel">
			<div class="col-md-5">
				{% for personal in model.personals %}
					<h2><a href="#{{ personal.link }}" role="tab" data-toggle="tab">{{ personal.title }}</a></h2>
				{% endfor %}
				<hr>
				<p><a class="btn btn-primary" href="#">Invest Now</a> <a class="btn btn-primary" href="#">Download Brochure </a></p>
				<hr>
			</div>
			<div class="col-md-7">
				<div class="tab-content">
					{% for personal in model.personals %}
						<div role="tabpanel" class="tab-pane {{ personal.active }}" id="{{ personal.link }}">
							<br><br>
							<strong><small>&mdash; {{ personal.title }}</small></strong>
							<p class="lead">{{ personal.quote }}</p>	
							{{ personal.content }}
							<{{ personal.list }}>
								{{ personal.items }}
							</{{ personal.list }}>
							{{ personal.post-content }}

							<a role="button" data-toggle="collapse" href="#collapse{{ personal.link }}{{ personal.link1 }}c">{{ personal.collapse1t }}</a>
								<div class="collapse" id="collapse{{ personal.link }}{{ personal.link1 }}c"><div class="well">
    								{{ personal.collapse1c }}
    								<a href="#">{{ personal.cta1 }}</a>
    							</div></div>

							<a role="button" data-toggle="collapse" href="#collapse{{ personal.link }}{{ personal.link2 }}c">{{ personal.collapse2t }}</a>
								<div class="collapse" id="collapse{{ personal.link }}{{ personal.link2 }}c"><div class="well">
    								{{ personal.collapse2c }}
    								<a href="#">{{ personal.cta2 }}</a>
    							</div></div>

							<a role="button" data-toggle="collapse" href="#collapse{{ personal.link }}{{ personal.link3 }}c">{{ personal.collapse3t }}</a>
								<div class="collapse" id="collapse{{ personal.link }}{{ personal.link3 }}c"><div class="well">
    								{{ personal.collapse3c }}
    								<a href="#">{{ personal.cta3 }}</a>
    							</div></div>

							<a role="button" data-toggle="collapse" href="#collapse{{ personal.link }}{{ personal.link4 }}c">{{ personal.collapse4t }}</a>
								<div class="collapse" id="collapse{{ personal.link }}{{ personal.link4 }}c"><div class="well">
    								{{ personal.collapse4c }}
    								<a href="#">{{ personal.cta4 }}</a>
    							</div></div>

							<a role="button" data-toggle="collapse" href="#collapse{{ personal.link }}{{ personal.link5 }}c">{{ personal.collapse5t }}</a>
								<div class="collapse" id="collapse{{ personal.link }}{{ personal.link5 }}c"><div class="well">
    								{{ personal.collapse5c }}
    								<a href="#">{{ personal.cta5 }}</a>
    							</div></div>

							<a role="button" data-toggle="collapse" href="#collapse{{ personal.link }}{{ personal.link6 }}c">{{ personal.collapse6t }}</a>
								<div class="collapse" id="collapse{{ personal.link }}{{ personal.link6 }}c"><div class="well">
    								{{ personal.collapse6c }}
    								<a href="#">{{ personal.cta6 }}</a>
    							</div></div>
    						<br>
							
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	<div class="clearfix"></div>
	<br><br>
	</div><!--/.jumbotron-->
</div>

<div class="container">
	{% include "insights" %}
</div>

<div class="container">
	
	{% include "newsletter" %}

{% endblock %}