{% block content %}
	<div class="hero">
		<h5>&mdash; RESPONSIBLE INVESTING</h5>
		<hr>
		<h2>Winston Churchill wisely said, "The price of greatness is responsibility.”<span class="small"><p>We are wired to consider the impact of our actions and to think ahead, because we firmly believe that sustainable business practices will produce long term real return that will outweigh short term profits. For us it has always been about doing the right things for the right reasons.</p></h2>
		<a href="#" class="fa fa-2x fa-long-arrow-down"></a>
	</div>
</div>


<div class="container-fluid">
	<br>
	<div class="jumbotron">
		<div role="tabpanel">
			<div class="col-md-5">
				{% for responsible in model.responsible %}
					<h2><a href="#{{ responsible.link }}" role="tab" data-toggle="tab">{{ responsible.title }}</a></h2>
				{% endfor %}
				<hr>
				<p><a class="btn btn-primary" href="#">Contact Us </a> <a class="btn btn-primary" href="#">Download Brochure </a></p>
				<hr>
			</div>
			<div class="col-md-7">
				<div class="tab-content">
					{% for responsible in model.responsible %}					
						<div role="tabpanel" class="tab-pane {{ responsible.active }}" id="{{ responsible.link }}">
							<br><br>
							<strong><small>&mdash; {{ responsible.title }}</small></strong>
							<p class="lead">{{ responsible.quote }}</p>	
							{{ responsible.content }}
							{{ responsible.list }}
								{{ responsible.items }}
							{{ responsible.list }}
							{{ responsible.post-content }}
							<a href="#">{{ responsible.cta }}</a>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	<div class="clearfix"></div>
	<br><br>
	</div><!--/.jumbotron-->
</div>

<div class="container">
	{% include "insights" %}
</div>

<div class="container">
	
	{% include "newsletter" %}

{% endblock %}