{% block content %}
	<div class="hero">
		<h5>&mdash; OUR STORY</h5>
		<hr>
		<h2>GraySwan is a leading independent investment consulting company.<span class="small"><p>Our core business is to provide investment advice to institutional, corporate, personal and family office investors.</p></span></h2>
		<br><br>
		<a href="#" class="fa fa-2x fa-long-arrow-down"></a>
	</div>
</div>

<div class="container-fluid">
	<br>
	<div class="jumbotron">
		<div role="tabpanel">
			<div class="col-md-5">
				{% for story in model.stories %}
					<h2><a href="#{{ story.link }}" role="tab" data-toggle="tab">{{ story.title }}</a></h2>
				{% endfor %}
			</div>
			<div class="col-md-7">
				<div class="tab-content">
					{% for story in model.stories %}
						<div role="tabpanel" class="tab-pane {{ story.active }}" id="{{ story.link }}">
							<br><br>
							<strong><small>&mdash; {{ story.title }}</small></strong>
							<p class="lead">{{ story.quote }}</p>	
							{{ story.content }}
							{{ story.list }}
								{{ story.items }}
							{{ story.list }}
							{{ story.list2 }}
								{{ story.items2 }}
							{{ story.list2 }}


							<a role="button" data-toggle="collapse" href="#collapse{{ story.link }}{{ story.link1 }}c">{{ story.collapse1t }}</a>
								<div class="collapse" id="collapse{{ story.link }}{{ story.link1 }}c"><div class="well">
    								{{ story.collapse1c }}
    								<a href="#">{{ story.cta1 }}</a>
    							</div></div>

							<a role="button" data-toggle="collapse" href="#collapse{{ story.link }}{{ story.link2 }}c">{{ story.collapse2t }}</a>
								<div class="collapse" id="collapse{{ story.link }}{{ story.link2 }}c"><div class="well">
    								{{ story.collapse2c }}
    								<a href="#">{{ story.cta2 }}</a>
    							</div></div>

							<a role="button" data-toggle="collapse" href="#collapse{{ story.link }}{{ story.link3 }}c">{{ story.collapse3t }}</a>
								<div class="collapse" id="collapse{{ story.link }}{{ story.link3 }}c"><div class="well">
    								{{ story.collapse3c }}
    								<a href="#">{{ story.cta3 }}</a>
    							</div></div>

							<a role="button" data-toggle="collapse" href="#collapse{{ story.link }}{{ story.link4 }}c">{{ story.collapse4t }}</a>
								<div class="collapse" id="collapse{{ story.link }}{{ story.link4 }}c"><div class="well">
    								{{ story.collapse4c }}
    								<a href="#">{{ story.cta4 }}</a>
    							</div></div>

							<a role="button" data-toggle="collapse" href="#collapse{{ story.link }}{{ story.link5 }}c">{{ story.collapse5t }}</a>
								<div class="collapse" id="collapse{{ story.link }}{{ story.link5 }}c"><div class="well">
    								{{ story.collapse5c }}
    								<a href="#">{{ story.cta5 }}</a>
    							</div></div>
    					<br>
    					<br>
							{{ story.post-content }}
							<a href="#">{{ story.cta }}</a>
							{{ story.images }}
    					<br>
				</div>
					{% endfor %}
			</div>
		</div>
	<div class="clearfix"></div>
	<br><br>
	</div><!--/.jumbotron-->
</div>

<div class="container">
	
	{% include "testimonials" %}

</div>

<div class="container">
	
	{% include "newsletter" %}

{% endblock %}