{% block content %}
	<div class="hero">
		<h5>&mdash; OUR STORY</h5>
		<hr>
		<h2><em>GraySwan is a leading independent investment consulting company, whose core business is to provide investment advice to institutional, corporate, personal and family office investors.</em><span class="small"><p>Our disciplined and proven investment advisory approach, which we have successfully developed over almost two decades, ensure that our clients implement a robust and unique investment strategies which meets their short, medium and long term performance objectives.</p><p>We are already one of the three largest truly independent investment consulting businesses in South Africa in terms of assets under advice and the depth and strength of our investment consulting team. </p><p>We have offices in the Western Cape and Gauteng. We are a level I BBEE contributor and were the second investment consultant in South Africa to become a signatory to the United Nations Principles of Responsible Investing (UNPRI).</p><p></p><p></p><p></p> </span></h2>
		<br><br><br>
		<a href="#" class="fa fa-2x fa-long-arrow-down"></a>
	</div>
</div>

<div class="container-fluid">
	<br>
	<div class="jumbotron">
		<div role="tabpanel">
			<div class="col-md-5">
				{% for story in model.stories %}
					<h2><a href="#{{ story.link }}" role="tab" data-toggle="tab">{{ story.title }}</a></h2>
				{% endfor %}
			</div>
			<div class="col-md-7">
				<div class="tab-content">
					{% for story in model.stories %}
						<div role="tabpanel" class="tab-pane {{ story.active }}" id="{{ story.link }}">
							<br><br>
							<strong><small>&mdash; {{ story.title }}</small></strong>
							<p class="lead">{{ story.quote }}</p>	
							{{ story.content }}
							<{{ story.list }}>
								{{ story.items }}
							</{{ story.list }}>
							{{ story.post-content }}
							<a href="#">{{ story.cta }}</a>
							{{ story.images }}
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	<div class="clearfix"></div>
	<br><br>
	</div><!--/.jumbotron-->
</div>

<div class="container">
	
	{% include "testimonials" %}

</div>

<div class="container">
	
	{% include "newsletter" %}

{% endblock %}